/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */   
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Add Animation - Zoom in the Modal */
.modalContent {
  animation-name: zoom;
  animation-duration: 0.6s;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  max-width: 1280px;
  width: fit-content;
  padding: 20px 30px;
  border: 10px solid gold;
  border-radius: 25px;
  color: inherit;
}

.modalPotato {
  background-color: #73d918;
}

.modalLight {
  background-color: white;
}
  
.modalDark {
 background-color: #333;
 }
  
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}