body {
    background-image: center;
    background-size: cover;
    background-color: white;
    text-align: center; 
}

body[data-light-mode=dark] {
    background-color: #333333;
    color: white;   
}


.darkModeButton {
  box-shadow:inset -23px 0px 0px -49px #9fb4f2;
	background:linear-gradient(to bottom, #8690a1 5%, #2d343d 100%);
	background-color:#8690a1;
	border-radius:31px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:9px;
	font-weight:bold;
  padding:5px 15px;
  margin-left: 800px;
  margin-top: 50px;
  outline: none;
  
}
.darkModeButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.darkModeButton:active {
	position:relative;
	top:1px;
}




#timer {
    margin-top:150px;
    color-rendering: white;
    color:black;
    font-size: 70px;
}


#buttons {
    margin-top: 10px;
    padding: 30px 25px;
    font-size: 40px;
}

#stop {
  margin-right: 100px;
  border-radius: 15px;
  padding: 5px 15px 10px 15px;
}

#start {
  border-radius: 15px;
  padding: 5px 15px 10px 15px;
}
