/*---------------------------------
         Background Display
---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    margin: 0;
    height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    overflow-x: hidden;
}

.themePotato {
    color: #333;
    background-color: #73d918;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.potatoWork {
    background-image: url("img/background.png");
}

.potatoBreak {
    background-image: url("img/background-break.png");
    background-color: #0B9428;
}

.themeDark {
    color: white;
    background-color: #333333;
    background-image: none;
}

.themeLight {
    color: #333;
    background-color: white;
    background-image: none;
}

.textWhite {
    color: white;
}

p {
    margin-bottom: 0px;
}

.showing {
    display: block;
}

.hidden {
    display: none;
}

.opacityShow {
    opacity: 1;
}

.opacityHide {
    /* opacity: 0; */
    animation: text_hide .3s ease forwards;
}

noscript {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 10000;
}

noscript div {
    padding: 20px 40px;
    font-size: 2.25rem;
}
/*---------------------------------
         Main Page Display
---------------------------------*/
.contentWrapper {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    height: inherit;
    /* border-style: dashed;
    border-color: red; */
}

#title {
    display: block;
    margin-top: 20px;
    margin-bottom: 18px;
    margin-left: 30px;
    /* text-shadow: 1px 1px 1px #000; */
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    font-variant: small-caps; 
    text-transform: none; 
    font-weight: 100;
    float: left;
}

#phaseWrapper {
    display: block;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}

#cycleNum {
    display: block;
    margin: auto;
    font-size: 1.5rem;
}

#phaseDisplay {
    display: inline-block;
    margin: auto;
    text-shadow: 1px 1px 1px #000;
    font-size: 40px;
}

#options {
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}
#help {
    font-size: 3rem;
}
#help:hover {
    animation: text_reveal .5s ease forwards;
}
#settingsIcon {
    /* position: absolute;
    top: 3%;
    right: 5%; */
    float : right;
    width: 85%;
}
#settingsIcon:hover {
    animation: text_reveal .5s ease forwards;
}

@media screen and (max-width: 768px) {
    #settingsIcon {
        right: 5%
    }
}

#settingsIcon:hover {
    cursor: pointer;
}

#circleTimer {
    width: 160px;
    height: 160px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

.circleLight {
    border: 8px solid black;
    background-color: white;
}

.circleDark {
    border: 8px solid white;
    background-color: #333;
}

.circlePotato {
    border: 8px solid #ff0;
    background-color: #ff0;
    box-shadow: 0 0 50px gold,0 0 150px gold;
}

.circlePotatoBreak {
    border: 8px solid rgb(223, 223, 182);
    background-color: rgb(223, 223, 182);
    box-shadow: 0 0 50px rgb(214, 207, 138),0 0 150px rgb(236, 198, 91);
}

.circlePotatoBreakAsian {
    border: 8px solid rgb(248, 205, 111);
    background-color: rgb(248, 205, 111);
    box-shadow: 0 0 50px rgb(216, 210, 158),0 0 150px rgb(240, 213, 140);
}

#timerDisplay {
    margin:31px auto;
    padding: 26px 0px;
    font-size: 40px;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
}

.buttonWrapper {
    margin-top: 30px;
}

.buttonWrapper button {
    display: inline-block;
    min-width: 100px;
    width: fit-content;
    height: 50px;
    margin: auto;
    white-space: normal;
}

#enterTask {
    border-radius: 18px;
}

.taskContainer {
    display: inline-block;
    /* align-items:inherit; */
}
.taskContainer:hover {
    animation: text_reveal .5s ease forwards;
}

@keyframes text_reveal {
    100% {
        opacity: 1;
    }
}

@keyframes text_hide {
    100% {
        opacity: 0;
    }
}

#enterTask {
    margin-top: 30px;
    height: 40px;
    width: 300px;
}

#taskAdder {
    margin: 20px 0;
    width: fit-content;
    height: 52px;
    font-size: 20px;
}

#notificationBar {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 30px;
    font-size: 1.3rem;
    font-weight: bold;
}

@media screen and (max-width: 479px) {
    .contentWrapper {
        margin: 0 0;
    }
    .buttonWrapper button {
        min-width: 100px;
        height: 50px;
    }
    #taskBtn {
        width: fit-content;
    }
    .taskContainer {
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        
    }
    #enterTask {
        width: 60%;
    }
    #taskAdder {
        width:  60%;
        height: 50px;
    }
}


/*---------------------------------
         Language DropDown
---------------------------------*/
.dropdown {
    position: absolute;
    display: inline-block;
  }

  #languageBtn {
    position: absolute;
    right: 5%;
    background: none;
    border: none;
  }

  #languageBtn img {
    width: 64px;
    height: 64px;
  }

/*--------------------------------
        Instructions Menu Display
---------------------------------*/

#instructionsMenu {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    padding: 20px 40px;
    
}

#instrTopic {
    font-size: 1.65rem;
    font-weight: bold;
    padding-top: 10px;
}

#instrContent {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: -10px;
}
#instrContent a img {
    margin-top: 10px;
}
.leftAlign{
    text-align: left;
}

#page {
    font-size: 1.4rem;
}

/*---------------------------------
         Settings Menu Display
---------------------------------*/
.menu {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    min-height: 200px;
    max-width: 768px;
    border: 5px solid #000;
    border-radius: 50px 50px 50px 50px;
    box-shadow: inset 0 -1px 10px 3px #6d6d6d;
    font-size: 31px;
    z-index: 999;
}

#settingsMenu {
    max-width: 380px;
}
.taskHelp {
    font-size: 17px;
    margin: 5px 0px;
    padding-left: 18px;
    padding-right: 15px;
}

.menuLight {
    background-color: white;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#fff));
    background-image: linear-gradient(0deg, #eee, #fff);
}


 #settingsMenuHeader {
    padding: 10px;
    height: 15px;
    cursor: move;
}

#taskMenuHeader {
    padding: 10px;
    height: 15px;
    cursor: move;
}

.headerDark {
    background-color: rgb(85, 85, 85);
    background-image : url("img/drag-lines.png");
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}

.headerLight {
    background-color: #333;
}

.menu p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.close {
    position: absolute;
    left: auto;
    top: 60px;
    right: 0%;
    bottom: auto;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    /* color: black; */
    margin-right: 20px;
}


#selectTheme {
    margin: 0 0; 
    font-size: 18px;
}

button {
    margin: 0 10px;
    padding: 10px 15px;
    border: 2px solid #000;
    border-radius: 50px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.mainButton {
    background-color: #333;
    font-size: 20px;
    height: 52px;
}

#animationBtn {
    font-size: 18px;
    margin: auto;
    margin-top: 20px;
}

.darkButton {
    background-color: #999;
}

button:hover {
    background-color: rgb(100, 100, 100);
}

.userInputContainer {
    margin: 20px 20px 20px 20px;
    padding-left: 15px;
    padding-right: 15px;
    /* max-width: 350px; */
    text-align: right;
}

.fieldLabel {
    font-size: 21px;
}

input {
    text-align: center;
    font-size: 18px;
}
.customTime {
    width: 60px;
}

.customVolume {
    width: 60px;
}

#volume {
    display: inline-block;
    /* width: fit-content; */
}

#volumeIcon {
    display: inline-block;
    width: 40px;
    margin-left: 11px;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.userInputContainer div {
    display: block;
}

.userInputContainer input {
    border-radius: 20px;
    border-style: solid black;
    border-width: 5px;
}

.userInputContainer p {
    display: inline;
    margin: 0 -5px;
    font-size: 25px;
}

#langContainer button {
    padding: 0;
    margin-bottom: 20px;
    font-size: 0.4em;
}

/* @media screen and (max-width: 768px) {
    menu {
        width: 100vw;
    }
} */
@media screen and (max-width: 479px) {
    .menu {
        top: 50%;
        width: 100%;
    }

    #prompt {
        width: 100%;
    }
    .userInputContainer input {
        font-size: 24px;
    }

    .userInputContainer p {
        margin: 0 -10px;
    }
}
/*---------------------------------
         Task Menu Display
---------------------------------*/
#deleteAll {
    position: absolute;
    left: 0%;
    top: 60px;
    right: auto;
    bottom: auto;
    padding-left: 10px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#taskListContainer {
    max-height: 400px;
    overflow-y: scroll;
    cursor: auto;
    margin: 15px;
}

#closeTasks{
    top: 60px;
}

#taskTitle {
    font-size: 30px;
}

.userTask {
    text-align: left;
    display: flex;
    margin: auto;
    /* border-top: solid 2px; */
    border-bottom: solid 2px;
    border-left: solid 4px;
    border-radius: 10px 0px 0px 10px;

}

.userTask:first-child {
    border-top: solid 2px;
}

.userTask:last-child {
    border-bottom: solid 2px;
}
.markCircle {
    min-width: 20px;
    margin-left: 10px;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    /* background-color: black; */
}

.markLight {
    border: 5px solid black;
}

.markDark {
    border: 5px solid white;
}

.markFill {
    background-color: yellow;
}


.userTask img {
    display: inline-block;
    height: 25px;
    cursor: pointer;
    margin: 4px;
}

.userTask .smallIcon img {
    height: 20px;
}
.userTask p {
    display: inline;
    font-size: 25px;
    margin-left: 12px;
    margin-bottom: 15px;
    margin-top: 7px;
    max-width: 540px;
    flex-grow: 1;
    overflow-wrap: break-word;
}

/* .pinnedTask {
    border-bottom: 4px solid;
    border-left: 4px solid;
    border-radius: 10px 0px 0px 10px;
} */

/* .pinnedTask:first-child {
    border-top: 4px solid;
} */



@media screen and (max-width: 768px) {
    .tasksTitle {
        font-size: 20px;
    }
    .taskHelp {
        font-size: 17px;
        margin: 5px 0px;
        padding-left: 18px;
        padding-right: 15px;
    }
}

#mainTasks {
    margin: 10px auto;
    max-width: 768px;
    max-height: 28vh;
    overflow-y: scroll;
}

#confirmMessage {
    margin: 20px 10px;
}

#prompt {
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    margin-top: -150px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 150px;
    max-width: 768px;
    border: 5px solid #000;
    border-radius: 50px 50px 50px 50px;
    box-shadow: inset 0 -1px 10px 3px #6d6d6d;
    font-size: 28px;
    z-index: 999;
}

/* additional spacing and alignment */
#chooseTheme{
    line-height: 0.5;
}

#chooseTheme button{
    font-size: 18px;
    margin: 0 0;
}

#cycle1 {
    position: absolute;
    top: 55%;
    right: 15%;
    display: none;
}
#cycle2 {
    position: absolute;
    top: 65%;
    left: 15%;
    display: none;
}

#cycle3 {
    position: absolute;
    top: 70%;
    right: 22%;
    display: none;
}
#cycle0 {
    position: absolute;
    top: 50%;
    left: 20%;
}




/* ------------------
 *   ARIA 
 * ---------------- */
.transparent {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
}

.transparent:hover {
    background: none;
}

.userTask a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.userTask a:focus {
    position: static;
    width: auto;
    height: auto;
}

.ariaSkipTask {
    text-decoration: none;
    color: inherit;
}

.ariaClose {
    position: absolute;
    left: -10000px;
    top: auto;
    margin-bottom: 10px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: none;
    background: none;
}

.ariaClose:focus {
    position: static;
    width: auto;
    height: auto;
    color: inherit;
    border: none;
}

.top {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-decoration: none;
    font-weight: bolder;
}
    
.top:focus {
    position: static;
    width: auto;
    height: auto;
    color: inherit;
    border: 5px solid inherit;
}   

.contrastDark {
    color: white;
}

.contrastLight {
    color: #333;
}



#reset {
    display: none;
}